/* CONTENEDOR */
.crear-foro{
    max-width: 700px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: var(--cl-blanco);
    border-radius: 12px;
    box-shadow: var(--sombra-media);

    display: flex;
    flex-direction: column;
}

/* TITULO */
.crear-foro h1{
    text-align: center;
    margin-bottom: 2rem;
    font-family: var(--lt-titulos);
}

/* LABELS */
.crear-foro label{
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-weight: 600;
}

/* INPUT NOMBRE */
.crear-foro input[type="text"]{
    width: 100%;
    padding: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--cl-blanco);
}

/* TEXTAREA */
.crear-foro textarea{
    width: 100%;
    min-height: 180px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
    background-color: var(--cl-blanco);
}

/* INPUT IMAGEN */
.crear-foro input[type="file"]{
    padding: 1rem;
    border: 2px dashed var(--cl-nav);
    border-radius: 8px;
    background-color: #fafafa;
    cursor: pointer;
}

/* BOTON */
.crear-foro button{
    margin-top: 2rem;
    align-self: center;

    background-color: var(--cl-bt);
    color: var(--cl-blanco);

    padding: 0.8rem 2rem;
    border: none;
    border-radius: 8px;

    font-size: 1rem;
    font-weight: 600;

    transition: all .2s ease;
}

.crear-foro button:hover{
    background-color: var(--cl-sec);
    transform: translateY(-2px);
}

/* RESPONSIVE */
@media screen and (width <= 768px){

    .crear-foro{
        margin: 1.5rem;
        padding: 1.5rem;
    }

    .crear-foro button{
        width: 100%;
    }
}