# ========================
# IDE / EDITORES
# ========================
.vscode/
.idea/
*.iws
*.iml
*.ipr
.project
.classpath
.settings/
.metadata/
bin/
.DS_Store

# ========================
# SPRING (Servidor)
# ========================
Servidor/target/
Servidor/.mvn/wrapper/maven-wrapper.jar

# ========================
# REACT (Cliente)
# ========================
Cliente/node_modules/
Cliente/dist/
Cliente/dist-ssr/
Cliente/*.local

# ========================
# LOGS
# ========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ========================
# OTROS
# ========================
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?